<app-home> </app-home>

<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    

<hr>
<!-- < [formGroup]="itemForm" (ngSubmit)="onSubmit()"> -->
    <div class="row mb-3 justify-content-center">
        <div class="col-6">
            <label class="form-label">Title</label>
            <input class="form-control" type="text"  formControlName="title"/>
            <!-- <small class="text-danger"> -->
        </div>   
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-6">
            <label class="form-label">Amount</label>
            <input class="form-control" type="number"  formControlName="amount"/>
            <!-- <small class="text-danger"> -->
        </div>   
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-6">
            <label class="form-label">Quantity</label>
            <input class="form-control" type="number"  formControlName="quantity"/>
            <!-- <small class="text-danger"> -->
        </div>   
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-6 d-flex justify-content-center"> <!-- Added d-flex and justify-content-center -->
            <button type="submit" [disabled]="itemForm.invalid" class="btn btn-orange me-3">Save</button>
            <button (click)="onCancel()" class="btn secondary me-3">Cancel</button>
        </div>   
    </div>
